body{
    background-color: rgb(0, 0, 0);
}
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Architects Daughter', cursive;
    color: #FFFFFF ;
    background: rgba(8,1,1,0.5)   
}

h2{
    font-size: 22px;
    font-family: 'Kalam', cursive;
    color: beige;
    text-align: center;
}

section{
    margin-left: 40px;
}

.second-titles{
    display: flex;
    justify-content: space-around;
}

.main-nav{
	position: fixed;
	left: calc(-100% + 40px);
	top: 0;
	height: 100%;
	width: 100%;
	transition: 320ms;
	background: rgba(0, 0, 0, 0.5);
}

.nav-list{
	width: calc(100% - 40px);
	height: 100%;
	background: rgba(14, 1, 1, 0.5);
}

.nav-list li{
    margin-bottom: 10px;
}

.nav-list li a{
    text-decoration: none;
    font-size: 20px;
    color: snow;
    border-right: solid;
    border-radius: 7px;
    border-bottom: solid;
    border-color: snow;
}

.main-nav.is-open{
	left: 0;
}

.toggle-btn{
    color: blanchedalmond;
    text-align: center;
    font-size: 30px;
	width: 40px;
	height: 40px;
	padding: 0;
	border:none;
	border-radius: 0 0.5 0.5 0;
	position: absolute;
	right: 0;
	top: 0;
}

.group-teams{
    display: flex;
    justify-content: space-around;
}

.enter{
    background-color: rgb(6, 156, 156);
    color: antiquewhite;
    width: 60px;
    height: 35px;
    border-radius: 15px;
}

.input-name{
    height: 35px;
    margin-bottom: 5px;
}

.builder-title{
    display: flex;
    justify-content: center;
}

.team-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: solid;
    border-color: snow;
}

.back1{
    color: blanchedalmond;
    margin-right: 2px;
}

.team-container div{
    color: snow;
}

.images{
    height: 60px;
    width: auto;
}

.images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor{
    display: flex;
    flex-direction: column;
}

.row-one{
    display: flex;
    justify-content: space-between;
}

.row-two{
    display: flex;
    justify-content: space-around;
}

.row-three{
    display: flex;
    justify-content:center;
}
form{
    width: auto;
    height: 100vh;
}

.boton{
    padding-top: 10px;
    background: rgba(59,39,39,0.5);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color:#C99534;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 70px;
    text-align: center;
    font-size:small;
}

@media only screen and (min-width:719px){

.boton{
    width: 120px;
    height: 50px;
    font-size: 20px;
    padding-top: 20px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.images{
    height: 120px;
    width: auto;
}

.input-name{
    margin-bottom: 20px;
}

.enter{
    width: 70px;
    height: 40px;
}

.back1{
    font-size: 25px;
    margin-right: 4px;
}

.nav-list li a{
    font-size: 30px;
}
    
}